.map {  
	position: absolute; 
	margin: 0 auto;
}
.btnTileset { 
	border: 1px solid black; 
	width: 120px; 
	height:30px; 
	text-align:center; 
	line-height:30px; 
	margin-top: 10px; 
	background: #6eaa5c; 
	color: white; 
	position: absolute; 
	top: 0;
}
.btnTileset:hover { 
	cursor: pointer;
} 

#tileset {
	width: 256px; 
	height:12000px; 
	background: url(http://fc03.deviantart.net/fs26/i/2008/149/d/7/rpg_maker_xp_the_best_tileset_by_davide_86.png); 
	display:none; 
	margin: 0 auto; 
	position: absolute; 
	top: 45px;}